<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body>

<div class="login-box">
    <h2>Login</h2>

    <form action="/login" method="POST">
        <div class="textbox">
            <input type="email" placeholder="Email" name="username" required>
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password" name="password" required>
        </div>
        <div class="form-actions">
            <input type="submit" value="Login">
        </div>
    </form>

    <div class="separator">
        <p>OR</p>
    </div>

    <a class="btn-google" th:href="@{/oauth2/authorization/google}" role="button" aria-label="Sign in with Google">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo">
        Sign in with Google
    </a>
</div>

</body>
</html>
